.header {
  width: 100px;
  height: 100px;
  background-color: #1919a154;
}
.header a {
  color: #fa0505cc;
}
.header a::hover {
  color: skyblue;
}
.nav {
  width: 20px;
  height: 20px;
  background-color: red;
}
.nav .logo {
  color: #123456;
}
