@font-face {
    font-family: "iconfont";
    /* Project id 3995741 */
    src: url('//at.alicdn.com/t/c/font_3995741_6i7y9gc4wtl.woff2?t=1680586643552') format('woff2'),
        url('//at.alicdn.com/t/c/font_3995741_6i7y9gc4wtl.woff?t=1680586643552') format('woff'),
        url('//at.alicdn.com/t/c/font_3995741_6i7y9gc4wtl.ttf?t=1680586643552') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bianji1:before {
    content: "\e60b";
}

.icon-fapiao:before {
    content: "\10116";
}

.icon-anquan:before {
    content: "\10117";
}

.icon-huiyuan:before {
    content: "\10118";
}

.icon-baogao:before {
    content: "\10119";
}

.icon-dingdan:before {
    content: "\1011a";
}

.icon-jiankong:before {
    content: "\1011b";
}

.icon-fasong:before {
    content: "\1011c";
}

.icon-saoma:before {
    content: "\1011d";
}

.icon-bianji:before {
    content: "\1011e";
}

.icon-dizhi:before {
    content: "\1011f";
}

.icon-luzhi:before {
    content: "\10120";
}

.icon-shuju:before {
    content: "\10121";
}

.icon-shipin:before {
    content: "\10122";
}

.icon-shezhi:before {
    content: "\10123";
}

.icon-kongjian:before {
    content: "\10124";
}

.icon-xiaochengxu:before {
    content: "\10125";
}

.icon-youhuiquan:before {
    content: "\10126";
}

.icon-xiazai:before {
    content: "\10127";
}

.icon-lianpai:before {
    content: "\10128";
}

.icon-zhaopian:before {
    content: "\10129";
}

.icon-shanchu:before {
    content: "\1012a";
}

.icon-shuoming:before {
    content: "\1012b";
}

.icon-tongji:before {
    content: "\1012c";
}

.icon-ziliao:before {
    content: "\1012d";
}

.icon-xinxi:before {
    content: "\1012e";
}

.icon-yingyongzhongxin:before {
    content: "\1012f";
}